/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* From Kevin Powell YouTube */
 :root {
  --clr-primary-400: 241 55% 52%;
  --clr-secondary-400: 215 45% 45%;
  --clr-secondary-500: 199 42% 25%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;
  --clr-dark-100: 199 42% 12%;
  --clr-light-100: 199 42% 88%;
  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* Box sizing rules KP */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed KP*/
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults KP*/
html:focus-within {
  scroll-behavior: smooth;
}
body {
  display: grid;
  place-content: center;
  
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: hsl(var(--clr-neutral-200));
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

/* utilities KP*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 0.2rem solid var(--clr-dark-100);
}
/* ==========================================================================
   TW styles: Trial and error, mostly
   ========================================================================== */

/* Reset our layout */ 
* {
  margin: 0;
  padding: 0;
}

.page{
  width:auto;
  display: grid;
  grid-template-columns: [col-start] 1fr [col-2] 4fr [col-3] 1fr [col-end];
  grid-auto-rows: 60px auto 100px;
  align-content: start;

  grid-template-areas:
  "header header header"
  "content content content"
  "footer footer footer";
}

.header {
  height:fit-content;
  grid-area: header;
  align-items: center;
  display:inline;
  font-size: var(--fs-400);
  margin: 0.25rem;
  padding: 0.25rem;
  /*border-radius: 0.5rem;*/
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  color: var(--clr-dark-100);
  background-color: whitesmoke;
}

.page-contents{
  background-image: "../img/atlantic-bg.png" no-repeat   center center #505050;  ;
  background-size: cover;
  grid-area: content;
  width:100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: [col-start] 1fr [col-end];
  align-content: centre;

  grid-template-areas:
  "top"
  "middle"
  "bottom";
}

.top{
  grid-area: top;
  min-height: 120px;
  align-content: center;
  display:grid;
  margin: 1rem 0.25rem  0.25rem 0.25rem;
  padding: 0rem 0.25rem 0.25rem 0.25rem;
  background: whitesmoke;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-areas:
  "top-left"
  "top-right";
}

.top-left{
  grid-area: "top-left";
  /* justify-content: start;
  align-self: start;
  align-items: start; */
}
.top-right{
  display: block;
  grid-area:"top-right";
  /* justify-content: end;
  align-self: end;
  align-items: end; */
}
.middle{
  grid-area: "middle";
  align-items: center;
  width: 95vw;
  height: auto;
}
.content {
  grid-area: "middle";
  display: grid;
  width: 95vw;
  height: auto;
  grid-gap: 1.5rem;

  margin: 0.5rem;
  padding-block: 0.5rem;
  margin-inline: auto;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-rows: auto;
}

.bottom{
  grid-area: bottom;
  background: #000;
  color: whitesmoke;
}

.footer {
  grid-area: footer;
  font-size: var(--fs-400);
  padding: 2rem;
  /*border-radius: 0.5rem;*/
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  color: var(--clr-dark-100);
  background-color: whitesmoke;
}

.box-wide{
  width: 100%;
  background-color: var(--clr-dark-100);
  color: var(--clr-light-100);
  align-items: center;
}

.content-genre-box {
  font-size: var(--fs-400);
  padding: 1rem;
  /*border-radius: 0.5rem;*/
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.content-single-record-box {
  padding: 0.5rem;
  margin: 0.5rem;
  /* background-color:hsl(var(--clr-primary-400) / 0.25); */
  box-sizing: border-box;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

/* Modal form .box-wide */
.modal {
  position:unset;
  position: absolute;
  top: 10%;
  right: 100%;
  width: auto;
  height: auto;
  text-align: center;
  padding: 1em;
  max-width: 50ch;
  border: 2px;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgba(28, 100, 194, 0.4);
}


/* Input forms */
/* with help from https://webdesign.tutsplus.com */
/* And http://www.w3schools.com */
.form-box{
  width: min-content;
  padding: 1rem;
  background-color: #fff;
  border: #000;
  background-origin: padding-box;
}

form {
  display: grid;
  background: whitesmoke;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-rows: auto;
  grid-template-areas:
  "label"
  "input";
}

.input-box-label {
  grid-area: label;
  align-items: right;
  /* align-self: flex-start;
  align-content: flex-start; */
}
.input-box-input{
  grid-area: input;
  background-color:#fff;
  /* align-items: left;
  align-content: flex-end;
  align-self: flex-end;
  float: right; */
}

input[type="text"],
input[type="password"] {
  color: #000;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: var(--fs-400)
}
/* Navigation */

nav{
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  background-color: #0082e6;
  color: whitesmoke;
  position: relative;
}
nav .nav-header{
  display: inline;
}
nav .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
label.logo{
  color: whitesmoke;
  font-size: 30px;
  padding-left: 50px;
  padding-bottom: 30px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
}

label.logo a{
  color: whitesmoke;
  font-size: 32px;
  text-decoration: none;
}

label.logo a:hover {
  color:#b3d4fc;
  font-size: 32px;
  text-shadow: #505050;
}

nav .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
   
nav .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}
nav .nav-links a{
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}
/* Hover effects */
nav .nav-links a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
   
/* responsive navbar toggle button */
nav #nav-check, nav .nav-btn{
  display: none;
}

/* Buttons */
.content-button-box{
  align-items: right;
  padding: 0.5rem;
  background-color: whitesmoke;

}
.stdButton{
  background-color: #17a1cb;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.userButton {
	background-color: #17a1cb;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  display: none;
}
.userButton:hover {
	background-color:#0061a7;
}
.userButton:active {
	position:relative;
	top:1px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 32em){
  .content {
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end]
  }

}

@media screen and (min-width: 45em){
  .content {
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
  }
  .top {
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end];
    grid-template-areas:
    "top-left" "top-right";
}
  .userButton {
    padding: 12px 20px;
    font-size: 14px;
  }
  .stdButton {
    padding: 12px 20px;
    font-size: 14px;
  }
  form {
  grid-template-columns: [col-start] 120px [col-2] 1fr [col-end];
  grid-template-areas:
  "label" "input";
  }
}

@media screen and (min-width: 60em){
  .content {
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-end];
  }
  .first {
    grid-column-start: [col-start];
    grid-column-end: span 2;
  }
  
  .last {
    grid-column-start: span 2;
    grid-column-end: [col-end];
  }
  .userButton {
    padding: 14px 28px;
    font-size: 14px;
  }
  .stdButton {
    padding: 14px 28px;
    font-size: 14px;
  }
}

/* this ridiculous extra query is because i cannot get a tutorial */
/* that shows ow to do this the same way i learned the other media queries */
@media (max-width:1118px) {
  nav .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  nav .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  nav .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  nav .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: rgb(9, 14, 90);
  }
  nav .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: rgb(9, 14, 90);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
    text-decoration: none;
  }
  nav .nav-links a {
    display: block;
  }
 
  /* when nav toggle button not checked */
  nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
 
  /* when nav toggle button is checked */
  nav #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  nav .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them Kevin Powell*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

